@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #8cccff;
}
.box {
    position: relative;
    width: 300px;
}
.inputBox {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}
.focusedPassword:focus-within {
    outline: 1px solid rgb(17, 255, 0);
}
.inputBox input {
    position: relative;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 5px;
}
#toggleBtn {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 34px;
    height: 34px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toggleBtn::before {
    content: "\f06e";
    font-family: fontAwesome;
}
#toggleBtn.hide::before {
    content: "\f070";
}
.validation {
    background: #376488;
    padding: 10px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}
.validation ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.validation ul li {
    position: relative;
    list-style: none;
    color: #fff;
    font-size: 17px;
    transition: 0.5s;
}
.validation ul li.valid {
    color: rgba(255, 255, 255, 0.5);
}
.validation ul li::before {
    content: "\f192";
    /* display: inline-flex; */
    font-family: fontAwesome;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.validation ul li.valid::before {
    content: '\f00c';
    color: #0f0;
}